{% extends 'base.html.twig' %}

{% block body %}
    <h1>Visita</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ visita.id }}</td>
            </tr>
            <tr>
                <th>Fecha</th>
                <td>{{ visita.fecha|date }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('visitas_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('visitas_edit', { 'id': visita.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
